@model InvistaEFSolucao.Models.Equipamento

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEquipamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEquipamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeFabricante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFabricante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EquipamentoID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
